* {
  margin: 0;
  padding: 0;
}

#Navbar {
  height: 20px;
  display: flex;
  justify-content: space-between;
  background:#345460 ;
  padding: 8px;
  align-items: center
  ;
  color:whitesmoke;

}
.logo{
    font-size: 36px;
    font-weight: 200;
    margin-left: 40px;
}
/* sss */



.UlNavbar ul {
    width: 300px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.BarIcons {
    margin-right: 10px;
}
.BarIcons ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  justify-content: space-between;
  gap: 10px;
}






/* ////////////////////////////header
 */

 body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  justify-content: center;
 
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}

button:hover {
  background-color: #3e8e41;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}